               /* ==========================================================================
   RESPONSIVIDADE (MEDIA QUERIES)

   ========================================================================== */
               /* Tablet */
               /* Tablet e Celulares (< 768px) */
               @media (max-width: 768px) {

                   /* 1. Registrando a fonte */
                   html {

                       font-size: 90%;
                   }

                   .menu-lista {

                    
                       position: fixed;

                       top: 70px;
                       right: -250px;

                       width: 220px;
                       height: auto;

                       padding: 2rem 1rem;

                       background: rgba(34, 41, 58, 0.85);
                       backdrop-filter: blur(10px);

                       border-radius: 15px 0 0 15px;

                       display: flex;
                       flex-direction: column;
                       justify-content: flex-start;
                       align-items: center;
                       gap: 1.5rem;

                       transition: right 0.4s ease;

                       z-index: 1000;
                   }

                   .menu.ativo .menu-lista {
                       right: 0;
                   }

                   menu-lista {
                       z-index: 1;
                   }

                   .botao-hamburguer {
                       position: fixed;
                       top: 20px;
                       right: 20px;
                       z-index: 1100;
                   }

                   /* Navegação */


                   /* Hero */
                   .hero {
                       grid-template-columns: 1fr;
                       /* 1 coluna fica melhor no mobile */
                       text-align: center;
                       gap: 2rem;
                   }

                   .hero-titulo-roxo,
                   .hero-titulo-branco {
                       font-size: clamp(1.8rem, 5vw, 2.2rem);
                       /* Adapta suavemente */
                   }

                   .hero-imagem {
                       width: 150px;
                       height: 150px;
                       margin: 0 auto;
                       object-fit: cover;
                       border-radius: 50%;
                       
                   }

                   /* Seções genéricas */
                   .secao-titulo {
                       font-size: 1.75rem;
                       text-align: justify;
                   }

                   .cta h2 {
                       font-size: 2rem;
                       letter-spacing: -1px;
                       line-height: 1.2;
                   }

                   /* Habilidades */
                   .skills-titulo {
                       font-size: 1.5rem;
                       text-align: center;
                   }

                   .skills-lista {
                       flex-wrap: wrap;
                       justify-content: center;
                       gap: 0.75rem;
                   }

                   /* Grids responsivos */
                   .projetos-grid,
                   .processo-lista {
                       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                       gap: 1.5rem;
                   }



                   /* Contato */
                   .contato-container {
                       grid-template-columns: 1fr;
                       gap: 1.5rem;
                   }
               }


               /* Celulares Menores (< 480px) */
               @media (max-width: 480px) {

                   /* 1. Registrando a fonte */
                   html {

                       font-size: 90%;
                   }

                   .menu-lista {
                       flex-direction: column;
                       align-items: end;
                   }

                   .skills-titulo {
                       font-size: 1.1rem;
                       text-align: center;
                       letter-spacing: 0.3px;
                   }

                   .skill-nome {
                       font-size: 0.75rem;
                   }

                   .cta h2 {
                       font-size: 1.8rem;
                       letter-spacing: -0.5px;
                       line-height: 1.3;
                   }

                   .projetos-grid,
                   .processo-lista {
                       grid-template-columns: 1fr;
                   }

               }

               /* Celular */
               @media (max-width: 490px) {

                   /* 1. Registrando a fonte */
                   html {

                       font-size: 80%;
                   }

                   .menu {
                       padding: 1rem;
                       
                   }

                   .menu-logo {
                       font-size: 1.2rem;
                   }

                   .menu-lista {
                       display: none;
                       position: absolute;
                       top: 100%;
                       left: 0;
                       right: 0;
                       flex-direction: column;
                       align-items:start;
                       padding: 1rem;
                       gap: 1rem;
                   }

                   .menu-lista.active {
                       display: flex;
                   }

                   .botao-hamburguer {
                       display: flex;
                   }

                   .secao-hero {
                       padding: 5rem 1rem 2rem;
                   }

                   .hero-container {
                       flex-direction: column;
                       gap: 2rem;
                   }

                   .hero-titulo-roxo,
                   .hero-titulo-branco {
                       font-size: 4rem;
                   }

                   .hero-descricao {
                       font-size: 1rem;
                   }

                   .hero-imagem {
                       width: 90%;
                   }

                   .hero-imagem-container {
                       width: 200px;
                       height: 200px;
                   }


                   .skills-lista {
                       flex-wrap: wrap;
                       gap: 1rem;
                   }

                   .skills-titulo {
                       font-size: 1.2rem;
                       text-align: center;
                       letter-spacing: 0.5px;
                       word-wrap: break-word;
                       line-height: 1.3;
                   }

                   .skill-nome {
                       font-size: 0.8rem;
                   }

                   .projetos-grid {
                       grid-template-columns: 1fr;
                   }

                   .processo-lista {
                       grid-template-columns: 1fr;
                   }

                   .secao-titulo {
                       font-size: 1.8rem;
                   }

                   .contato-container {
                       grid-template-columns: 1fr;
                       gap: 2rem;
                   }

                   .campo-form {
                       padding: 0.8rem;
                   }

                   .sobre-caixa {
                       padding: 2rem 1rem;
                   }

                   .sobre-paragrafo {
                       font-size: 0.95rem;
                   }

                   .cta h2 {
                       font-size: 1.5rem;
                       letter-spacing: -1px;
                       line-height: 1.2;
                       padding: 0 1rem;
                   }

                   .rodape-texto {
                       font-size: 0.9rem;
                   }
               }